<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="logo">
      <img src="assets/logo.png" alt="Book Library Logo" class="h-8" />
    </div>
    <nav>
      <ul class="flex space-x-4">
        <li><a routerLink="/home" class="hover:text-gray-400">Home</a></li>
        <li><a routerLink="/search" class="hover:text-gray-400">Search</a></li>
        <li>
          <a routerLink="/wishlist" class="hover:text-gray-400">Wishlist</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
